<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NodeAuth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=("title == 'Member' ? 'active': ''")><a href="/">Members</a></li>
            <li class=("title == 'Register' ? 'active': ''")><a href="/users/register">Register</a></li>
            <li class=("title == 'Login' ? 'active': ''")><a href="/users/login">Log In</a></li>
          </ul>
          <div class="navbar-form navbar-right">
            <ul class="nav navbar-nav">
              <li> <a href="/users/logout">Logout</a> </li>
            </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
  </body>
</html>
